[project]
name = "timelocked-wallet"
authors = []
description = ""
telemetry = true
requirements = []
boot_contracts = ["pox", "costs-v2", "bns"]

[project.cache_location]
path = ".requirements"
[contracts.dispatch-call]
path = "contracts/dispatch-call.clar"

[contracts.locked-wallet-trait]
path = "contracts/locked-wallet-trait.clar"

[contracts.static-call]
path = "contracts/static-call.clar"

[contracts.timelocked-wallet]
path = "contracts/timelocked-wallet.clar"

[repl]
costs_version = 2
parser_version = 2

[repl.analysis]
passes = ["check_checker"]

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false
